[Unit]
Description=adding routes and rules to enable the Docker Wireguard gateway
After=docker.service

[Service]
ExecStart=/etc/init.d/gateway.sh

[Install]
WantedBy=default.target